name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_extension:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./extension
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 18
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build extension
      run: npm run build
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: extension-${{ matrix.os }}
        path: ./extension/dist
        retention-days: 7
    - name: Install and build MCP server
      run: |
        cd ..
        npm ci
        npm run build
        npx playwright install chromium
    - name: Run tests
      run: |
        if [[ "$(uname)" == "Linux" ]]; then
          xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- npm run test
        else
          npm run test
        fi
      shell: bash
      env:
        PWMCP_DEBUG: '1'
